* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

/* Navbar */
nav {
    background-color: #111111;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.my {
    font-size: 24px;
    padding-top: 15px;
    padding: 20px 50px;
}
nav ul a {
    font-size: 16px;
    display: inline-block;
    justify-content: space-evenly;
    color: white;
    text-decoration: none;
    padding: 20px;
}

/* Body */
body{
    background-color: #0f2027;
    color: white;
}

/* Hero Section */
/* Box 1*/
span {
    color: #00ffff;
}
div {
    background-color: #111111;
    height: 650px;
    width: 100%;
    padding: 60px 50px;
}
#home {
    background-color: antiquewhite;
    width: 450px;
    height: 250px;
}
p {
    font-size: 16px;
    height: 20px;
    width: 330px;
    text-align: center;
}
button {
    background-color: #00ffff;
    color: black;
    margin: 15px 0 0 0;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    text-align: center;
}

/* Box 2 */
#photo {
    height: 400px;
    width: 250px;
    border-radius: 50%;
    background-image: url('profile.jpg');
    background-size: cover;
}
